

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

    </head>
    <body>
      Ici on va construire notre Client!!
    </body>
</html>
