<!DOCTYPE html>
<html>
<head>
    <title>Bienvenue sur mon Test de Stage !</title>
</head>
<body>
<h1>Bienvenu sur Igraal</h1>

<p>

    Les utilisateurs qui sont sur la base de donnée sont:

    {% for objet in obj %}

{{ objet.name }}


        {% if not loop.last %}{% endif %}
    {% endfor %}


</p>
</body>
</html>